div.dataTables_length label { /*	float: right;*/
	text-align: right;
	display: inline-block;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: left;
}

div.dataTables_info {
	padding-top: 8px;
	font-size: 11px;
	color: #AAA;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table.table {
	clear: both;
	margin: 10px 0px 20px 0px !important;
}

table.table thead .sorting,table.table thead .sorting_asc,table.table thead .sorting_desc,table.table thead .sorting_asc_disabled,table.table thead .sorting_desc_disabled
	{
	cursor: pointer;
	*cursor: hand;
}

div.dataTables_filter,div.dataTables_paginate,div.dataTables_info,div.dataTables_length
	{
	
}

.dataTables_wrapper .dataTables_filter {
	position: relative;
}

.dataTables_wrapper .dataTables_filter input {
	width: 40%;
	position: absolute;
	-webkit-transition: all 0.3s ease 0.1s;
	-moz-transition: all 0.3s ease 0.1s;
	-o-transition: all 0.3s ease 0.1s;
	transition: all 0.3s ease 0.1s;
}

table.table thead .sorting {
	background: url('sort_both.html') no-repeat center right;
}

table.table thead .sorting_asc {
	background: url('sort_asc.html') no-repeat center right;
}

table.table thead .sorting_desc {
	background: url('sort_desc.html') no-repeat center right;
}

table.table thead .sorting_asc_disabled {
	background: url('sort_asc_disabled.html') no-repeat center right;
}

table.table thead .sorting_desc_disabled {
	background: url('sort_desc_disabled.html') no-repeat center right;
}

table.dataTable th:active {
	outline: none;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ColVis styles
 */
.ColVis {
	position: relative;
	display: inline;
}

.ColVis_Button {
	position: relative;
	float: left;
	margin-right: 0px;
	line-height: 30px;
	height: 30px;
	background-color: #fff;
	/*	border: 1px solid #d0d0d0;*/
	cursor: pointer;
	*cursor: hand;
}

.ColVis_Button.Base {
	border: 1px solid #dddddd;
	-moz-box-shadow: 1px 1px 2px #f5f5f5;
	-webkit-box-shadow: 1px 1px 2px #f5f5f5;
	box-shadow: 1px 1px 2px #f5f5f5;
	background-color: #fbfbfb;
	position: absolute;
	text-align: center;
	width: 17px;
	padding: 0 11px 0 10px;
	right: 0px;
	height: 29px;
	line-height: 29px;
	margin-right: 10px;
	background-image: url(../../images/icon/gray_18/spreadsheet.png);
	background-repeat: no-repeat;
	background-position: 10px 5px;
	-webkit-transition: background-color .2s ease-out;
	-moz-transition: background-color .2s ease-out;
	-o-transition: background-color .2s ease-out;
	transition: background-color .2s ease-out;
}

.ColVis_Button.Base:hover {
	border: 1px solid #c9c9c9;
	-moz-box-shadow: 1px 1px 2px #f5f5f5;
	-webkit-box-shadow: 1px 1px 2px #f5f5f5;
	box-shadow: 1px 1px 2px #f5f5f5;
	background-color: #f5f5f5;
}

button.ColVis_Button::-moz-focus-inner {
	border: none !important;
	padding: 0;
}

.ColVis_title {
	padding: 0 35px
}

.ColVis_text_hover {
	border: 1px solid #999;
	background-color: #f0f0f0;
}

div.ColVis_collectionBackground {
	background-color: black;
	z-index: 1100;
}

div.ColVis_collection {
	position: absolute;
	float: left;
	right: 0px;
	background-color: #f3f3f3;
	padding: 6px;
	border: 1px solid #ccc;
	z-index: 1102;
	margin-top: -1px;
}

div.ColVis_collection button.ColVis_Button {
	background-color: white;
	width: 100%;
	float: none;
	margin-bottom: 2px;
}

div.ColVis_catcher {
	position: absolute;
	z-index: 1101;
}

button.ColVis_Button {
	text-align: left;
}

div.ColVis_collection button.ColVis_Button:hover {
	border: 1px solid #999;
	background-color: #f0f0f0;
}

span.ColVis_radio {
	display: inline-block;
	width: 20px;
}