#calendar {
	position: relative;
	background-color: #FFF;
	padding: 0px;
	width: 100%;
	margin: auto;
	margin-bottom: 10px;
}

.fc {
	direction: ltr;
	text-align: left;
}

.fc table {
	border-collapse: collapse;
	border-spacing: 0;
}

html .fc,.fc table {
	font-size: 1em;
	text-shadow: none;
}

.fc td,.fc th {
	padding: 0;
	vertical-align: top;
}

.fc tfoot {
	background-color: #000
}

.fc th {
	vertical-align: top;
	color: #1c1c1c;
	background-color: #f5f5f5;
	border: none;
	border: 4px #a7a4a4 solid;
	border-bottom: 4px #cccccc solid;
	padding: 15px 0;
	background-image: url(../../images/inner-shadow.png);
	text-shadow: 1px 1px 1px #fff;
}
/* Header
------------------------------------------------------------------------*/
.fc-header td {
	white-space: nowrap;
}

.fc-header-left {
	width: 25%;
	text-align: left;
}

.fc-header-center {
	text-align: center;
}

.fc-header-right {
	width: 25%;
	position: absolute;
	top: -53px;
	right: 0px;
	text-align: right;
}

.fc-header-title {
	display: inline-block;
	/*		border: 1px #cccccc solid;*/
	vertical-align: middle;
	height: 65px;
	margin-left: 5px;
}

.fc-header-title h2 {
	margin-top: 8px;
	white-space: nowrap;
	border: none;
	font-weight: normal;
	font-size: 36px;
	color: #333;
	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
	text-transform: capitalize;
}

.fc .fc-header-space {
	
}

.fc-header .fc-button {
	margin-bottom: 1em;
	vertical-align: top;
}

.fc-header .fc-button {
	margin-right: -1px;
}

.fc-header .fc-corner-right {
	margin-right: 1px;
}

.fc-header .ui-corner-right {
	margin-right: 0;
}

.fc-header .fc-state-hover,.fc-header .ui-state-hover {
	z-index: 2;
}

.fc-header .fc-state-down {
	z-index: 3;
}

.fc-header .fc-state-active,.fc-header .ui-state-active {
	z-index: 4;
}
/* Content
------------------------------------------------------------------------*/
.fc-content {
	clear: both;
	border: 5px #fafafa solid;
}

.fc-content tr:last-child td {
	background-image: url(../../images/Things13.png);
	background-repeat: repeat-x;
	background-position: bottom;
}

.fc-content td {
	clear: both;
	background: #fdfdfd;
	border: 1px #dddddd solid;
	-webkit-box-shadow: inset 0px 0px 15px #f5f5f5;
	-moz-box-shadow: inset 0px 0px 8px #f5f5f5;
	box-shadow: inset 0px 0px 15px #f5f5f5;
}

.fc-view {
	width: 100%; /* needed for view switching (when view is absolute) */
	overflow: hidden;
}
/* Cell Styles
------------------------------------------------------------------------*/
.fc-widget-header,.fc-widget-content {
	border: 1px solid #dddddd;
}

.fc-widget-header {
	padding: 10px 0;
}

.fc-state-highlight {
	background: #ebf9a3 !important;
	-webkit-box-shadow: inset 0px 0px 25px #cfe554 !important;
	-moz-box-shadow: inset 0px 0px 25px #cfe554 !important;
	box-shadow: inset 0px 0px 25px #cfe554 !important;
	opacity: 0.7;
	filter: alpha(opacity = 70); /* for IE */
}

.fc-cell-overlay { /* semi-transparent rectangle while dragging */
	opacity: 0.3;
	filter: alpha(opacity = 30); /* for IE */
	background: #ebf9a3 !important;
	-webkit-box-shadow: inset 0px 0px 25px #cfe554 !important;
	-moz-box-shadow: inset 0px 0px 25px #cfe554 !important;
	box-shadow: inset 0px 0px 25px #cfe554 !important;
}
/* Buttons
------------------------------------------------------------------------*/
.fc-button {
	position: relative;
	display: inline-block;
	padding: 0 5px;
	cursor: pointer;
	border: 1px solid #aaaaaa;
	-moz-box-shadow: 1px 1px 2px #f5f5f5;
	-webkit-box-shadow: 1px 1px 2px #f5f5f5;
	box-shadow: 1px 1px 2px #f5f5f5;
	background-color: #fbfbfb;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 11px;
	color: #333;
	background-color: #f4f4f4;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.fc-button-today {
	position: absolute;
	top: 0px;
	right: 180px;
	padding: 0 10px !important;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #69a44d;
	text-shadow: 0 1px 0 #000000;
	color: #ffffff;
	background-color: #9bc652;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.fc-button-today:hover {
	color: #ffffff;
	filter: none;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 5px
		#839b01;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 5px #839b01;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 5px #839b01;
	cursor: pointer;
}
/*.fc-button-month {
	padding:0 5px 0 10px!important;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.fc-button-agendaDay {
	padding:0 10px 0 5px!important;
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}*/
.fc-button-next,.fc-button-prev {
	background-repeat: no-repeat !important;
	padding: 10 0px !important;
	border: none;
	top: 17px;
	float: right;
	color: #cccccc;
	position: absolute;
	background: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-transform: uppercase;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.fc-button-next {
	background-image: url(../datatables/images/forward_disabled.png);
	right: 0px;
	padding-right: 20px !important;
	background-position: right center;
}

.fc-button-next:hover {
	background-image: url(../datatables/images/forward_enabled_hover.png);
	color: #666666;
}

.fc-button-prev {
	right: 70px;
	padding-left: 20px !important;
	border-right: 1px #cccccc solid;
	background-image: url(../datatables/images/back_disabled.png);
	background-position: left center;
}

.fc-button-prev:hover {
	background-image: url(../datatables/images/back_enabled_hover.png);
	color: #666666;
}

.fc-state-default { /* non-theme */
	
}

.fc-button-inner {
	position: relative;
	float: left;
	overflow: hidden;
}

.fc-state-default .fc-button-inner { /* non-theme */
	
}

.fc-button-content {
	position: relative;
	float: left;
	height: 1.9em;
	line-height: 1.9em;
	padding: 0 .6em;
	white-space: nowrap;
}
/* icon (for jquery ui) */
.fc-button-content .fc-icon-wrap {
	position: relative;
	float: left;
	top: 50%;
}

.fc-button-content .ui-icon {
	position: relative;
	float: left;
	margin-top: -50%;
	*margin-top: 0;
	*top: -50%;
}
/* gloss effect */
.fc-state-hover,.fc-state-hover .fc-button-inner {
	
}

.fc-state-down,.fc-state-down .fc-button-inner {
	
}

.fc-state-active {
	border-color: #a93a25;
	text-shadow: 0 1px 0 #000000;
	color: #fff;
	background-color: #d74543;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px
		#aa3a35;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #aa3a35;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #aa3a35;
}

.fc-state-disabled,.fc-state-disabled .fc-button-inner {
	color: #aaaaaa;
	text-shadow: none;
	border-color: #ddd;
	background-color: #fafafa;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.fc-state-disabled:hover {
	color: #aaaaaa;
	text-shadow: none;
	border-color: #ddd;
	background-color: #fafafa;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.fc-state-disabled {
	cursor: default;
}

.fc-state-disabled .fc-button-effect {
	display: none;
}
/* Global Event Styles
------------------------------------------------------------------------*/
.fc-event {
	border: 2px solid !important;
	border-width: 0;
	font-size: 0.9em;
	cursor: default;
	padding: 4px;
	padding-left: 5px;
	-moz-box-shadow: 1px 1px 2px #dddddd;
	-webkit-box-shadow: 1px 1px 2px #dddddd;
	box-shadow: 1px 1px 2px #dddddd;
	-webkit-transition: background-color .2s ease-out;
	-moz-transition: background-color .2s ease-out;
	-o-transition: background-color .2s ease-out;
	transition: background-color .2s ease-out;
	background-color: #dbf262;
	opacity: 0.7;
	filter: alpha(opacity = 70);
}

.fc-event:hover {
	background-color: #d6e972;
	opacity: 1;
	filter: alpha(opacity = 1);
}

a.fc-event,.fc-event-draggable {
	cursor: pointer;
}

a.fc-event {
	text-decoration: none;
}

.fc-rtl .fc-event {
	text-align: right;
}

.fc-event-skin {
	border-color: #c2d753 !important;
	/*	background-color: #deed8a; */
	color: #111111;
}

.fc-event-inner {
	position: relative;
	width: 100%;
	height: 100%;
	border-style: solid;
	border-width: 0;
	overflow: hidden;
	border: none;
}

.fc-event-time,.fc-event-title {
	padding: 5px !important;
}

.fc .ui-resizable-handle {
	/*** TODO: don't use ui-resizable anymore, change class ***/
	display: block;
	position: absolute;
	z-index: 99999;
	overflow: hidden; /* hacky spaces (IE6/7) */
	font-size: 300%; /* */
	line-height: 50%; /* */
}
/* Horizontal Events
------------------------------------------------------------------------*/
.fc-event-hori {
	border-width: 1px 0;
	margin-bottom: 1px;
}
/* resizable */
.fc-event-hori .ui-resizable-e {
	top: 0 !important; /* importants override pre jquery ui 1.7 styles */
	right: -3px !important;
	width: 7px !important;
	height: 100% !important;
	cursor: e-resize;
}

.fc-event-hori .ui-resizable-w {
	top: 0 !important;
	left: -3px !important;
	width: 7px !important;
	height: 100% !important;
	cursor: w-resize;
}

.fc-event-hori .ui-resizable-handle {
	_padding-bottom: 14px; /* IE6 had 0 height */
}
/* Fake Rounded Corners (for buttons and events)
------------------------------------------------------------*/
.fc-corner-left {
	margin-left: 1px;
}

.fc-corner-left .fc-button-inner,.fc-corner-left .fc-event-inner {
	margin-left: -1px;
}

.fc-corner-right {
	margin-right: 1px;
}

.fc-corner-right .fc-button-inner,.fc-corner-right .fc-event-inner {
	margin-right: -1px;
}

.fc-corner-top {
	margin-top: 1px;
}

.fc-corner-top .fc-event-inner {
	margin-top: -1px;
}

.fc-corner-bottom {
	margin-bottom: 1px;
}

.fc-corner-bottom .fc-event-inner {
	margin-bottom: -1px;
}
/* Fake Rounded Corners SPECIFICALLY FOR EVENTS
-----------------------------------------------------------------*/
.fc-corner-left .fc-event-inner {
	border-left-width: 1px;
}

.fc-corner-right .fc-event-inner {
	border-right-width: 1px;
}

.fc-corner-top .fc-event-inner {
	border-top-width: 1px;
}

.fc-corner-bottom .fc-event-inner {
	border-bottom-width: 1px;
}
/* Reusable Separate-border Table
------------------------------------------------------------*/
table.fc-border-separate {
	border-collapse: separate;
}

.fc-border-separate th,.fc-border-separate td {
	border-width: 1px 0 0 1px;
}

.fc-border-separate th.fc-last,.fc-border-separate td.fc-last {
	border-right-width: 1px;
}

.fc-border-separate tr.fc-last th,.fc-border-separate tr.fc-last td {
	border-bottom-width: 1px;
}

.fc-border-separate tbody tr.fc-first td,.fc-border-separate tbody tr.fc-first th
	{
	border-top-width: 0;
}
/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/
.fc-grid th {
	text-align: center;
	background-repeat: url(../../images/inner-shadow.png);
}

.fc-grid .fc-day-number {
	float: right;
	padding: 0 2px;
}

.fc-grid .fc-other-month .fc-day-number {
	opacity: 0.3;
	filter: alpha(opacity = 30); /* for IE */
/* opacity with small font can sometimes look too faded
	   might want to set the 'color' property instead
	   making day-numbers bold also fixes the problem */
}

.fc-grid .fc-day-content {
	clear: both;
	padding: 2px 2px 1px; /* distance between events and day edges */
}
/* event styles */
.fc-grid .fc-event-time {
	font-weight: bold;
}
/* right-to-left */
.fc-rtl .fc-grid .fc-day-number {
	float: left;
}

.fc-rtl .fc-grid .fc-event-time {
	float: right;
}
/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/
.fc-agenda table {
	border-collapse: separate;
}

.fc-agenda-days th {
	text-align: center;
}

.fc-agenda .fc-agenda-axis {
	width: 50px;
	padding: 0 4px;
	vertical-align: middle;
	text-align: right;
	white-space: nowrap;
	font-weight: normal;
}

.fc-agenda .fc-day-content {
	padding: 2px 2px 1px;
}
/* make axis border take precedence */
.fc-agenda-days .fc-agenda-axis {
	border-right-width: 1px;
}

.fc-agenda-days .fc-col0 {
	border-left-width: 0;
}
/* all-day area */
.fc-agenda-allday th {
	border-width: 0 1px;
}

.fc-agenda-allday .fc-day-content {
	min-height: 34px;
	_height: 34px;
}
/* divider (between all-day and slots) */
.fc-agenda-divider-inner {
	height: 2px;
	overflow: hidden;
}

.fc-widget-header .fc-agenda-divider-inner {
	background: #eee;
}
/* slot rows */
.fc-agenda-slots th {
	border-width: 1px 1px 0;
}

.fc-agenda-slots td {
	border-width: 1px 0 0;
	background: none;
}

.fc-agenda-slots td div {
	height: 20px;
}

.fc-agenda-slots tr.fc-slot0 th,.fc-agenda-slots tr.fc-slot0 td {
	border-top-width: 0;
}

.fc-agenda-slots tr.fc-minor th,.fc-agenda-slots tr.fc-minor td {
	border-top-style: dotted;
}

.fc-agenda-slots tr.fc-minor th.ui-widget-header {
	*border-top-style: solid;
}

.fc-event-vert {
	border-width: 0 1px;
}

.fc-event-vert .fc-event-head,.fc-event-vert .fc-event-content {
	position: relative;
	z-index: 2;
	width: 100%;
	overflow: hidden;
}

.fc-event-vert .fc-event-time {
	white-space: nowrap;
	font-size: 10px;
}

.fc-event-vert .fc-event-bg {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: .3;
	filter: alpha(opacity = 30);
}

.fc .ui-draggable-dragging .fc-event-bg,.fc-select-helper .fc-event-bg {
	display: none\9;
}
/* resizable */
.fc-event-vert .ui-resizable-s {
	bottom: 0 !important; /* importants override pre jquery ui 1.7 styles */
	width: 100% !important;
	height: 8px !important;
	overflow: hidden !important;
	line-height: 8px !important;
	font-size: 11px !important;
	font-family: monospace;
	text-align: center;
	cursor: s-resize;
}

.fc-agenda .ui-resizable-resizing { /* TODO: better selector */
	_overflow: hidden;
}